.DS_Store

lssuniversal1/cache/*
!lssuniversal1/cache/index.html

lssuniversal1/logs/*
!lssuniversal1/logs/index.html

!lssuniversal1/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

# IDE Files
#-------------------------
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/
/system/
/images/
/assets/
/uploads/